In [2]:
#variable, user input
#contatenation of strings
#default datatype and why we cant do calculations with it
#input 2 numbers from user and add them
#intro to if else and write one program for it

In [4]:
print("this is a jupyter notebook")

this is a jupyter notebook

In [6]:
print(5)

5

In [8]:
print("welcome ali")

welcome ali

In [10]:
#storing a name in a variable
name= "ali"

In [12]:
name

'ali'

## concatenation

In [15]:
print("welcome to this website ", name)

welcome to this website  ali

In [19]:
print("welcome to this website "+ name)

welcome to this website ali

In [17]:
print("welcome to this website name")
#wrong way to call varuale, it simply prints vairable name

welcome to this website name

## taking input from user

In [24]:
name= input("enter your name: ")

enter your name:  sharmeen

In [26]:
name

'sharmeen'

## input for numerical data

In [33]:
age=input("enter your age: ")

enter your age:  12

In [35]:
age

'12'

In [37]:
type(age)

str

In [39]:
age+12

TypeError: can only concatenate str (not "int") to str

## type conversion

In [42]:
int(age)

12

In [44]:
type(age)

str

In [46]:
age= int(age)

In [48]:
type(age)

int

In [50]:
age+12

24

In [52]:
num1=input("enter number 1: ")
num2= input("enter number 2: ")

sum1=num1+num2
print(sum1)

enter number 1:  5
enter number 2:  6

56

In [54]:
num1=int(num1)
num2=int(num2)
print(num1+num2)

11

In [56]:
num= int(input("enter number" ))

enter number 5

In [58]:
type(num)

int

In [60]:
name="ali"

In [62]:
print("name is", name)

name is ali

## concatenating string with int

In [65]:
age= 54
print("your age is: " , age)

your age is:  54

In [69]:
print("your age is: " + str(age))

your age is: 54

## comparision operators

In [71]:
3>7

False

In [73]:
5==5

True

In [75]:
7<=9

True

In [77]:
age>45

True

In [79]:
num1=78
num2=13

In [81]:
num1>num2

True

In [83]:
num1>12 and num2<6

False

In [85]:
num1>12 or num2<6

True

In [87]:
int(7<=9)

1

In [90]:
int(5>7)

0

In [92]:
name>17

TypeError: '>' not supported between instances of 'str' and 'int'

## program to check if the user is eligible for driving or not

In [103]:
age= int(input("what is your age? "))

if (age>=18):
    print("if condition is true")
    print("your are eligible for driving licsence")
else:
    print("if condition is  false")
    print("you are noteligible for driving licsence")

what is your age?  6

if condition is  false
you are noteligible for driving licsence

In [115]:
light= input("what is the color of traffic signal. Enter R, G, Y: ")


if light=="R" or light =="r":
    print("You have to stop")
elif light=="Y":
    print("Ready to go" )
elif light=="G":
    print("You may go")
else:
    print("You have entered invalid value")

what is the color of traffic signal. Enter R, G, Y:  r

You have to stop

In [113]:
"Name"=="name"

False

## mini- calculator your 1st project

In [122]:
num1= int(input("Enter your 1st number: "))
num2= int(input("Enter your 2nd number: "))

op=input("what operation you want to perform")
if op=="+":
    print("You have selected addition")
    print(num1+num2)
elif op=="-":
    print("You have selected subtraction")
    print(num1-num2)
elif op=="x":
    print("You have selected multiplication")
    print(num1*num2)
elif op=="/":
    print("You have selected division")
    print(num1/num2)
else:
    print("You have entered invalid operator")

Enter your 1st number:  6
Enter your 2nd number:  7
what operation you want to perform ?

You have entered invalid operator