In [1]:
#revise concatenation, type conversion, simple if and if elif etc
#questions from previous class
#introduce while loop working
#print counting till 10
#infinite loop and why increment is necessary
#take numbers and calculate sum of 10 numbers
#print only even numbers between 0 and 20

In [3]:
name=input("Enter your name: ")

Enter your name:  Ali

In [5]:
name

'Ali'

In [7]:
num=input("enter your age: ")

enter your age:  15

In [11]:
num

'15'

In [13]:
type(num)

str

In [15]:
num+5

TypeError: can only concatenate str (not "int") to str

In [17]:
num=int(num)

In [19]:
type(num)

int

In [21]:
num+5

20

In [23]:
name

'Ali'

In [25]:
print("Welcome to this website ", name)

Welcome to this website  Ali

In [27]:
print("Welcome to this website "+ name)

Welcome to this website Ali

In [31]:
num

15

In [33]:
print("your age is" , num)

your age is 15

In [35]:
print("your age is" + num)

TypeError: can only concatenate str (not "int") to str

print("your age is " + str(num))

In [41]:
marks= 51
if (marks>=50):
    print("you are pass")
else:
    print("you are fail")

you are pass

## introduction to while loop

In [50]:
i=1
while(i<5):
    print("inside loop")
    print (i)
    i=i+1

inside loop
1
inside loop
2
inside loop
3
inside loop
4

In [52]:
i=1
while(i<=10):
    print(i)
    i=i+1 #i++

1
2
3
4
5
6
7
8
9
10

In [54]:
5!=4

True

In [56]:
3!=3

False

In [58]:
"pasta"!="stop"

True

In [60]:
"stop"!="stop"

False

In [62]:
user_input=" "
while (user_input!="stop"):
    user_input=input("Enter anything ")

Enter anything  laptop
Enter anything  bottle
Enter anything  stop

In [66]:
teacher_input=" "
while( teacher_input!= "exit"):
    teacher_input=input("what is the name of your student " )

what is the name of your student  ali
what is the name of your student  ahmed
what is the name of your student
what is the name of your student  exit

In [68]:
i=0
while (i<=20):
    print(i)
    i=i+2

0
2
4
6
8
10
12
14
16
18
20

In [76]:
i=0
while (i<=20):
    print(i)
    i=i+3

#multiples of 3

0
3
6
9
12
15
18

i=1
while (i<=20):
    print(i)
    i=i+2

## write a program to input 10 numbers from user and calculate thier sum

In [87]:
i=1
sum=0
while(i<=5):
    num=int(input("enter number "))
    sum=sum+num
    i=i+1
print ("sum is ", sum)

enter number  1
enter number  2
enter number  3
enter number  4
enter number  5

sum is  15

In [89]:
i=1
sum=0
while(i<=5):
    num=int(input("enter number "))
    sum=sum+num
    i=i+1
    print ("sum is ", sum)

enter number  1

sum is  1

enter number  2

sum is  3

enter number  3

sum is  6

enter number  4

sum is  10

enter number  5

sum is  15